src/main/xsd/studie-info-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fsws.usit.no/schemas/studinfo"
		xmlns:tns="http://fsws.usit.no/schemas/studinfo" elementFormDefault="qualified">

		<element name="fs-studieinfo">
				<complexType>
						<choice maxOccurs="unbounded" minOccurs="0">
								<element name="kurs" type="tns:KursType" />
								<element name="emne" type="tns:EmneType" />
								<element name="studieprogram" type="tns:StudieprogramType" />
						</choice>
				</complexType>
		</element>

		<simpleType name="YESNOType">
				<restriction base="string">
						<enumeration value="Y" />
						<enumeration value="J" />
						<enumeration value="N" />
				</restriction>
		</simpleType>

		<complexType name="KursType">
				<sequence>
						<element name="kursid">
								<complexType>
										<sequence>
												<element name="kurskode" type="string" />
												<element name="tidkode" type="string" />
										</sequence>
								</complexType>
						</element>
						<element name="kursnavn" type="string" />
						<element name="sted" minOccurs="0" maxOccurs="unbounded"
								type="tns:StedType" />
						<element name="dato-opptak-fra" type="date" />
						<element name="dato-opptak-til" type="date" />
						<element name="dato-frist-soknad" type="date" />
						<element name="email" type="string" />
						<element name="fjernundervisning" type="tns:YESNOType" />
						<element name="desentral-undervisning" type="tns:YESNOType" />
						<element name="nettbasert-undervisning" type="tns:YESNOType" />
						<element name="kan-tilbys" type="tns:YESNOType" />
						<element name="skal-avholdes" type="tns:YESNOType" />
						<element name="dato-publiseres-fra" type="date" />
						<element name="dato-publiseres-til" type="date" />
						<element name="kurskategori-liste" type="tns:kurskategoriListeType"
								maxOccurs="unbounded">
						</element>
				</sequence>
				<attribute name="sprak" type="string" />
		</complexType>
		<complexType name="kurskategoriListeType">
				<sequence>
						<element name="kurskategorikode" type="string" />
						<element name="kurskategorinavn" type="string" />
				</sequence>
		</complexType>

		<complexType name="EmneType">
				<sequence>
						<element name="emneid" type="tns:Emneid" />
						<element name="emnenavn" type="string" />
						<element minOccurs="0" name="emnenavn_en" type="string" />
						<element minOccurs="0" name="studiepoeng" type="integer" />
						<element minOccurs="0" name="status-privatist" type="tns:YESNOType" />
						<element minOccurs="0" name="studieniva" type="string" />
						<element minOccurs="0" name="nuskode" type="integer" />
						<element minOccurs="0" name="status_oblig" type="tns:YESNOType" />
						<element minOccurs="0" name="obligund" type="tns:ObligundType">
						</element>
						<element minOccurs="0" name="undervisningssemester" type="string" />
						<element minOccurs="0" name="antall-undsemester" type="integer" />
						<element minOccurs="0" name="antall-forelesningstimer"
								type="integer" />
						<element minOccurs="0" name="antall-selvstudiumtimer"
								type="integer" />
						<element minOccurs="0" maxOccurs="unbounded" name="undsemester">
								<complexType>
										<sequence>
												<element maxOccurs="unbounded" name="semester">
														<complexType>
																<simpleContent>
																		<extension base="NCName">
																				<attribute name="nr" type="integer" />
																		</extension>
																</simpleContent>
														</complexType>
												</element>
												<element minOccurs="0" name="forstegang" type="NMTOKEN" />
												<element minOccurs="0" name="sistegang" type="NMTOKEN" />
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="emnetype" type="string" />
						<element minOccurs="0" name="url" type="anyURI" />
						<element minOccurs="0" name="periode-eks" type="tns:PeriodeType" />
						<element minOccurs="0" name="periode-und" type="tns:PeriodeType" />
						<element minOccurs="0" name="eksamenssemester" type="string" />
						<element minOccurs="0" name="anbefalte-forkunnskaper"
								type="string" />
						<element minOccurs="0" name="formelle-forkunnskaper">
								<complexType>
										<sequence>
												<element maxOccurs="unbounded" name="kravalternativ">
														<complexType mixed="true">
																<attribute name="kravnr" use="required" type="integer" />
														</complexType>
												</element>
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="inngar-i-studieprogram">
								<complexType>
										<sequence>
												<element maxOccurs="unbounded" name="studieprogramkode"
														type="string" />
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="inngar-i-fag">
								<complexType>
										<sequence>
												<sequence>
														<element maxOccurs="unbounded" name="fagkode"
																type="string" />
												</sequence>
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" maxOccurs="unbounded" name="sted"
								type="tns:StedType">
						</element>
						<element minOccurs="0" name="sprak-liste">
								<complexType>
										<sequence>
												<element maxOccurs="unbounded" name="sprak" type="tns:SprakType" />
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="fagperson-liste">
								<complexType>
										<sequence maxOccurs="unbounded">
												<element name="personid">
														<simpleType>
																<restriction base="integer">
																		<totalDigits value="5" />
																</restriction>
														</simpleType>
												</element>
												<element name="fnr">
														<simpleType>
																<restriction base="integer">
																		<totalDigits value="6" />
																</restriction>
														</simpleType>
												</element>
												<element name="personnavn">
														<complexType>
																<sequence>
																		<element name="etternavn" type="string" />
																		<element name="fornavn" type="string" />
																</sequence>
														</complexType>
												</element>
												<element name="personrolle" type="string" />
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" maxOccurs="unbounded" name="eksamensordning">
								<complexType>
										<sequence>
												<element name="eksamensordningid" type="NCName" />
												<element name="eksamensordningnavn" type="string" />
												<element minOccurs="0" name="lovlig-hjelpemiddel"
														type="tns:LovligHjelpemiddelType" />
												<element name="karregel" type="string" />
												<element maxOccurs="unbounded" name="eksamensdel">
														<complexType>
																<sequence>
																		<element name="eksamensdelnr" type="integer" />
																		<element name="eksamensdelnavn" type="string" />
																		<element minOccurs="0" name="varighet" type="string" />
																		<element minOccurs="0" name="eksamensform"
																				type="string" />
																		<element minOccurs="0" name="karaktervekt"
																				type="string" />
																		<element minOccurs="0" name="karregel" type="string" />
																		<element name="dato-eksamen" type="string"
																				nillable="true" />
																		<element minOccurs="0" name="eksamensdag">
																				<complexType>
																						<sequence>
																								<element name="eksamensdagnr" type="integer" />
																								<element name="varighet-timer" type="integer" />
																								<element name="lovlig-hjelpemiddel" />
																						</sequence>
																				</complexType>
																		</element>
																		<element minOccurs="0" maxOccurs="unbounded"
																				name="lovlig-hjelpemiddel" type="tns:LovligHjelpemiddelType" />
																</sequence>
														</complexType>
												</element>
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="abs_forkunnskaper_fritekst"
								type="tns:FreeText" />
						<element minOccurs="0" name="vektingsreduksjon">
								<complexType>
										<sequence>
												<element maxOccurs="unbounded" name="redregel">
														<complexType>
																<sequence>
																		<element name="studiepoeng-reduksjon" type="string" />
																		<element name="periode">
																				<complexType>
																						<sequence>
																								<element name="fradato" type="string" />
																								<element name="tildato" type="string"
																										nillable="true" />
																						</sequence>
																				</complexType>
																		</element>
																		<sequence minOccurs="0" maxOccurs="unbounded">
																				<element name="emneid" type="tns:Emneid" />
																				<element name="emnenavn" type="string" />
																		</sequence>
																</sequence>
														</complexType>
												</element>
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="arbeidsformer" type="tns:FreeText" />
						<element minOccurs="0" name="innhold" type="tns:FreeText" />
						<element minOccurs="0" name="intro" type="tns:FreeText" />
						<element minOccurs="0" name="litteratur" type="tns:FreeText" />
						<element minOccurs="0" name="læringsutbytte" type="tns:FreeText" />
						<element minOccurs="0" name="oblig_undakt_tilleggsinfo"
								type="tns:FreeText" />
						<element minOccurs="0" name="praksis" type="tns:FreeText" />
						<element minOccurs="0" name="studentevaluering" type="tns:FreeText" />
						<element minOccurs="0" name="vurdering_tilleggstekst"
								type="tns:FreeText" />
						<element minOccurs="0" maxOccurs="unbounded" name="undervisningstermin">
								<complexType>
										<sequence>
												<element maxOccurs="unbounded" name="termin">
														<complexType>
																<sequence>
																		<element name="terminnr" type="integer" />
																		<element name="terminnavn" type="NCName" />
																		<element minOccurs="0" name="studiepoeng"
																				type="integer" />
																		<element name="generer_und" type="string" />
																</sequence>
														</complexType>
												</element>
										</sequence>
										<attribute name="start" use="required" type="NCName" />
								</complexType>
						</element>
						<element minOccurs="0" name="sorteringsrekkefolge" type="integer" />
						<element minOccurs="0" name="valgstatus" type="string" />
						<element minOccurs="0" name="undtermin-fra" type="integer" />
						<element minOccurs="0" name="undtermin-til" type="integer" />
						<element minOccurs="0" name="termin-start-fra" type="string" />
						<element minOccurs="0" name="undtermin-default" type="integer" />
						<element minOccurs="0" name="termin-start-til" type="string" />
						<element minOccurs="0" name="termin-valg-til" type="string" />
						<element minOccurs="0" name="undtermin" type="integer" />
				</sequence>
				<attribute name="sprak" type="NCName" />
		</complexType>

		<complexType name="Emneid">
				<sequence>
						<element name="institusjonsnr" type="integer" />
						<element name="emnekode" type="string" />
						<element name="versjonskode" type="NMTOKEN" />
				</sequence>
		</complexType>

		<complexType name="PeriodeType">
				<sequence>
						<element minOccurs="0" name="forstegang" />
						<element minOccurs="0" name="sistegang" />
				</sequence>
		</complexType>

		<complexType name="LovligHjelpemiddelType" mixed="true">
				<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="hjelpemiddel">
								<complexType>
										<sequence>
												<element name="hjelpemiddelnavn" type="string" />
												<element name="hjelpemiddelmerknad" type="string" />
										</sequence>
								</complexType>
						</element>
				</sequence>
		</complexType>

		<complexType name="FreeText">
				<sequence>
						<any namespace="##any" minOccurs="0" maxOccurs="unbounded"
								processContents="skip" />
				</sequence>
		</complexType>
		<complexType name="ObligundType">
				<sequence>
						<element maxOccurs="unbounded" name="obligoppgave">
								<complexType mixed="true">
										<attribute use="required" name="nr" type="anySimpleType">
										</attribute>
								</complexType>
						</element>
				</sequence>
		</complexType>

		<complexType name="StudieprogramType">
				<sequence>
						<element name="studieprogramkode" type="string" />
						<element name="studieprogramnavn" type="string" />
						<element name="studiepoeng" type="integer" />
						<element name="studieniva" type="NCName" />
						<element name="sted" type="tns:StedType" />
						<element minOccurs="0" name="gradnavn" type="string" />
						<element minOccurs="0" name="nuskode" type="integer" />
						<element minOccurs="0" name="url" type="anyURI" />
						<element name="finansieringsprosent" type="integer" />
						<element name="heltidsprosent" type="integer" />
						<element minOccurs="0" name="varighet" type="string" />
						<element name="grunnstudium" type="NCName" />
						<element minOccurs="0" name="fagkode" type="string" />
						<element minOccurs="0" name="fagplan_tekst" type="tns:FreeText" />
						<element minOccurs="0" name="fagplan_URL" type="tns:FreeText" />
						<element minOccurs="0" name="intro" type="tns:FreeText" />
						<element minOccurs="0" name="kontaktinformasjon" type="tns:FreeText" />
						<element minOccurs="0" name="kvalifik_og_jobbmuligheter"
								type="tns:FreeText" />
						<element minOccurs="0" name="læringsutbytte" type="tns:FreeText" />
						<element minOccurs="0" name="opptaksinformasjon" type="tns:FreeText" />
						<element minOccurs="0" name="opptakskrav" type="tns:FreeText" />
						<element minOccurs="0" name="rammeplan_tekst" type="tns:FreeText" />
						<element minOccurs="0" name="rammeplan_URL" type="tns:FreeText" />
						<element minOccurs="0" name="studentevaluering" type="tns:FreeText" />
						<element minOccurs="0" name="utenlandsopphold" type="tns:FreeText" />
						<element minOccurs="0" maxOccurs="unbounded" name="opptak">
								<complexType>
										<sequence>
												<element name="opptakstype" type="string" />
												<element name="opptakskode" type="string" />
												<sequence minOccurs="0">
														<element name="frist_soknad" type="string" />
														<element minOccurs="0" name="frist_ettersending"
																type="string" />
												</sequence>
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="sprak-liste" type="tns:SprakListeType">
						</element>
						<element name="utdanningsplan">
								<complexType>
										<sequence>
												<element minOccurs="0" maxOccurs="unbounded" name="planinformasjon">
														<complexType>
																<sequence>
																		<element name="dato-gjelder-fra" type="date" />
																		<element minOccurs="0" name="infotekst" type="string" />
																		<element minOccurs="0" name="url" type="anyURI" />
																</sequence>
														</complexType>
												</element>
												<element minOccurs="0" maxOccurs="unbounded"
														name="krav-sammensetting">
														<complexType>
																<sequence>
																		<element name="termin-gjelder-fra" type="NMTOKEN" />
																		<element name="emnekombinasjon" type="tns:EmnekombinasjonType" />
																</sequence>
														</complexType>
												</element>
										</sequence>
								</complexType>
						</element>
						<element minOccurs="0" name="planforslag">
								<complexType>
										<sequence>
												<element name="emnekombinasjonsnavn" type="string" />
												<element minOccurs="0" name="termin-start" type="NCName" />
												<element maxOccurs="unbounded" name="emne" type="tns:EmneType" />
										</sequence>
								</complexType>
						</element>
				</sequence>
				<attribute name="sprak" use="required" type="NCName" />
		</complexType>

		<complexType name="StedType">
				<sequence>
						<element name="institusjonsnr" type="integer" />
						<element name="fakultetsnr" type="integer" />
						<element name="instituttnr" type="integer" />
						<element name="gruppenr" type="integer" />
						<element name="navn" type="string" />
						<element name="avdnavn" type="string" />
						<element minOccurs="0" name="url" type="anyURI" />
				</sequence>
				<attribute use="required" name="type" type="NCName" />
		</complexType>

		<complexType name="EmnekombinasjonType">
				<sequence>
						<choice minOccurs="0" maxOccurs="unbounded">
								<element name="emnekombinasjon" type="tns:EmnekombinasjonType" />
								<element name="emnekombinasjonsnavn" type="string" />
								<element name="opptak" type="tns:YESNOType" />
								<element name="termin-start-fra" type="NMTOKEN" />
								<element name="beskrivelse" type="tns:FreeText" />
								<element name="emnekombinasjonskode" type="string" />
								<element name="fargekode" type="string" />
								<element name="studiepoeng-krav" type="integer" />
								<element name="studieretning" type="NCName" />
								<element name="terminnr-relativ-start" type="integer" />
								<element name="veivalg" type="NCName" />
						</choice>
						<element minOccurs="0" maxOccurs="unbounded" name="emne"
								type="tns:EmneType" />
						<element minOccurs="0" name="planelement">
								<complexType>
										<sequence>
												<element name="planelementkode" type="NCName" />
												<element name="planelementnavn" type="string" />
												<element minOccurs="0" name="sorteringsrekkefolge"
														type="integer" />
												<element name="valgstatus" type="string" />
												<element name="undtermin-fra" type="integer" />
												<element name="undtermin-til" type="integer" />
												<element minOccurs="0" name="url" type="anyURI" />
										</sequence>
								</complexType>
						</element>
				</sequence>
				<attribute name="niva" use="required" type="integer" />
		</complexType>

		<complexType name="SprakType">
				<sequence>
						<element name="sprakkode" type="NCName" />
						<element name="undervisning" type="tns:YESNOType" />
						<choice>
								<element name="eksamen" type="tns:YESNOType" />
								<element name="vurdering" type="tns:YESNOType" />
						</choice>
				</sequence>
		</complexType>

		<complexType name="SprakListeType">
				<sequence>
						<element maxOccurs="unbounded" name="sprak" type="tns:SprakType" />
				</sequence>
		</complexType>

</schema>