src/main/xsd/studinfo.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://fsws.usit.no/schemas/studinfo"
  xmlns:studinfo="http://fsws.usit.no/schemas/studinfo">

  <xs:element name="fs-studieinfo">
    <xs:complexType>
      <xs:choice>
        <xs:element name="studieprogram" maxOccurs="unbounded" type="studinfo:Studieprogram"/>
        <xs:element name="kurs" maxOccurs="unbounded" type="studinfo:Kurs"/>
        <xs:element name="emne" maxOccurs="unbounded" type="studinfo:Emne"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="YESNOType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="J"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Emneid">
    <xs:sequence>
      <xs:element name="institusjonsnr" type="xs:integer"/>
      <xs:element name="emnekode" type="xs:string"/>
      <xs:element name="versjonskode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FsType" abstract="true">
    <xs:attribute name="sprak" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Studieprogram">
    <xs:complexContent>
      <xs:extension base="studinfo:FsType">
		    <xs:sequence>
		      <xs:element name="studieprogramkode" type="xs:string"/>
		      <xs:element name="studieprogramnavn" type="xs:string"/>
		      <xs:element name="studieprogramnavn_vitn" minOccurs="0" type="xs:string"/>
		      <xs:element name="studieprogramnavn_en" minOccurs="0" type="xs:string"/>
		      <xs:element name="studieprogramnavn_vitn_en" minOccurs="0" type="xs:string"/>
		      <xs:element name="studiepoeng" type="xs:integer"/>
		      <xs:element name="studieniva" type="xs:string"/>
		      <xs:element name="studienivakode" minOccurs="0" type="xs:integer"/>
		      <xs:element name="studienivanavn" minOccurs="0" type="xs:string"/>
		      <xs:element name="fagansvarlig" minOccurs="0" type="studinfo:Sted"/>
		      <xs:element name="adminansvarlig" minOccurs="0" type="studinfo:Sted"/>
		      <xs:element name="gradnavn" minOccurs="0" type="xs:string"/>
		      <xs:element name="nuskode" minOccurs="0" type="xs:string"/>
		      <xs:element name="url" minOccurs="0" type="xs:anyURI"/>
		      <xs:element name="finansieringsprosent" type="xs:integer"/>
		      <xs:element name="heltidsprosent" type="xs:integer"/>
		      <xs:element name="varighet" minOccurs="0" type="studinfo:VarighetProgram"/>
		      <xs:element name="grunnstudium" type="studinfo:YESNOType"/>
		      <xs:element name="kulltrinnplan" minOccurs="0" type="studinfo:YESNOType"/>
		      <xs:element name="arbeidsformer" minOccurs="0" type="xs:string"/>
		      <xs:element name="fagplan_tekst" minOccurs="0" type="xs:string"/>
		      <xs:element name="fagplan_URL" minOccurs="0" type="xs:anyURI"/>
		      <xs:element name="innhold" minOccurs="0" type="xs:string"/>
		      <xs:element name="intro" minOccurs="0" type="xs:string"/>
		      <xs:element name="kontaktinformasjon" minOccurs="0" type="xs:string"/>
		      <xs:element name="kvalifik_og_jobbmuligheter" minOccurs="0" type="xs:string"/>
		      <xs:element name="laringsutbytte" minOccurs="0" type="xs:string"/>
		      <xs:element name="litteratur" minOccurs="0" type="xs:string"/>
		      <xs:element name="opptaksinformasjon" minOccurs="0" type="xs:string"/>
		      <xs:element name="opptakskrav" minOccurs="0" type="xs:string"/>
		      <xs:element name="p-formkrav" minOccurs="0" type="xs:string"/>
          <xs:element name="p-innhold" minOccurs="0" type="xs:string"/>
          <xs:element name="p-kortintr" minOccurs="0" type="xs:string"/>
          <xs:element name="p-profkval" minOccurs="0" type="xs:string"/>
          <xs:element name="p-studkval" minOccurs="0" type="xs:string"/>
		      <xs:element name="rammeplan_tekst" minOccurs="0" type="xs:string"/>
		      <xs:element name="rammeplan_URL" minOccurs="0" type="xs:anyURI"/>
		      <xs:element name="studentevaluering" minOccurs="0" type="xs:string"/>
		      <xs:element name="utenlandsopphold" minOccurs="0" type="xs:string"/>
		      <xs:element name="vurdering_tilleggstekst" minOccurs="0" type="xs:string"/>
		      <xs:element name="opptak" minOccurs="0" maxOccurs="unbounded" type="studinfo:Opptak"/>
		      <xs:element name="fagkode" minOccurs="0" type="xs:string"/>
		      <xs:element name="sprak-liste" minOccurs="0" type="studinfo:SprakListe"/>
		      <xs:element name="utdanningsplan" type="studinfo:Utdanningsplan"/>
		      <xs:element name="planforslag" minOccurs="0" type="studinfo:Planforslag"/>
		    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BasisEmne">
    <xs:complexContent>
      <xs:extension base="studinfo:FsType">
		    <xs:sequence>
		      <xs:element name="emneid" type="studinfo:Emneid"/>
		      <xs:element name="emnenavn" type="xs:string"/>
		    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PlanEmne">
    <xs:complexContent>
      <xs:extension base="studinfo:BasisEmne">
        <xs:sequence>
          <xs:element name="undtermin" minOccurs="0" type="xs:integer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProgramEmne">
    <xs:complexContent>
      <xs:extension base="studinfo:BasisEmne">
        <xs:sequence>
          <xs:element name="studiepoeng" type="xs:string"/>
          <xs:element name="undervisningstermin" minOccurs="0" maxOccurs="unbounded" type="studinfo:Undervisningstermin"/>
          <xs:element name="sorteringsrekkefolge" minOccurs="0" type="xs:integer"/>
          <xs:element name="valgstatus" minOccurs="0" type="xs:string"/>
          <xs:element name="valgstatusnavn" minOccurs="0" type="xs:string"/>
          <xs:element name="valgstatusbeskrivelse" minOccurs="0" type="xs:string"/>
          <xs:element name="valgstatusbeskrivelse-en" minOccurs="0" type="xs:string"/>
          <xs:element name="undtermin-fra" type="xs:integer"/>
          <xs:element name="undtermin-til" minOccurs="0" type="xs:integer"/>
          <xs:element name="undtermin-default" minOccurs="0" type="xs:integer"/>
          <xs:element name="termin-start-fra" minOccurs="0" type="xs:string"/>
          <xs:element name="termin-start-til" minOccurs="0" type="xs:string"/>
          <xs:element name="termin-valg-til" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Emne">
    <xs:annotation>
      <xs:documentation>The position of the element studiepoeng should be moved up, thus it could be declared in BasisEmne.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="studinfo:BasisEmne">
        <xs:sequence>
          <xs:element name="emnenavn_en" type="xs:string"/>
          <xs:element name="studiepoeng" type="xs:integer"/>
          <xs:element name="status-privatist" type="studinfo:YESNOType"/>
          <xs:element name="studieniva" type="xs:string"/>
          <xs:element name="nuskode" minOccurs="0" type="xs:string"/>
          <xs:element name="status_oblig" type="studinfo:YESNOType"/>
          <xs:element name="obligund" minOccurs="0" type="studinfo:Obligund"/>
          <xs:element name="undervisningssemester" minOccurs="0" type="xs:string"/>
          <xs:element name="antall-undsemester" minOccurs="0" type="xs:integer"/>
          <xs:element name="antall-forelesningstimer" minOccurs="0" type="xs:integer"/>
          <xs:element name="antall-selvstudiumtimer" minOccurs="0" type="xs:integer"/>
          <xs:element name="undsemester" minOccurs="0" maxOccurs="unbounded" type="studinfo:Undsemester"/>
          <xs:element name="emnetype" minOccurs="0" type="xs:string"/>
          <xs:element name="url" minOccurs="0" type="xs:anyURI"/>
          <xs:element name="periode-eks" minOccurs="0" type="studinfo:Semesterperiode"/>
          <xs:element name="periode-und" minOccurs="0" type="studinfo:Semesterperiode"/>
          <xs:element name="eksamenssemester" minOccurs="0" type="xs:string"/>
          <xs:element name="anbefalte-forkunnskaper" minOccurs="0" type="xs:string"/>
          <xs:element name="formelle-forkunnskaper" minOccurs="0" type="studinfo:Formelle-forkunnskaper"/>
          <xs:element name="inngar-i-studieprogram" minOccurs="0" type="studinfo:Inngar-i-studieprogram"/>
          <xs:element name="inngar-i-fag" minOccurs="0" type="studinfo:Inngar-i-fag"/>
          <xs:element name="fagansvarlig" minOccurs="0" type="studinfo:Sted"/>
          <xs:element name="adminansvarlig" minOccurs="0" type="studinfo:Sted"/>
          <xs:element name="sprak-liste" minOccurs="0" type="studinfo:SprakListe"/>
          <xs:element name="fagperson-liste" minOccurs="0" type="studinfo:Fagperson-liste"/>
          <xs:element name="dato-eksamen" minOccurs="0" type="xs:string"/>
          <xs:element name="eksamensordning" minOccurs="0" maxOccurs="unbounded" type="studinfo:Eksamensordning"/>
          <xs:element name="vurdordning" minOccurs="0" maxOccurs="unbounded" type="studinfo:Vurdordning"/>
          <xs:element name="vektingsreduksjon" minOccurs="0" type="studinfo:Vektingsreduksjon"/>
          <xs:element name="abs_forkunnskaper_fritekst" minOccurs="0" type="xs:string"/>
          <xs:element name="anb_forkunnskaper_fritekst" minOccurs="0" type="xs:string"/>
          <xs:element name="arbeidsformer" minOccurs="0" type="xs:string"/>
          <xs:element name="innhold" minOccurs="0" type="xs:string"/>
          <xs:element name="intro" minOccurs="0" type="xs:string"/>
          <xs:element name="kortsam" minOccurs="0" type="xs:string"/>
          <xs:element name="litteratur" minOccurs="0" type="xs:string"/>
          <xs:element name="laringsutbytte" minOccurs="0" type="xs:string"/>
          <xs:element name="oblig_undakt_tilleggsinfo" minOccurs="0" type="xs:string"/>
          <xs:element name="praksis" minOccurs="0" type="xs:string"/>
          <xs:element name="studentevaluering" minOccurs="0" type="xs:string"/>
          <xs:element name="vurdering_tilleggstekst" minOccurs="0" type="xs:string"/>
          <xs:element name="apent_for_tillegg" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Kurs">
    <xs:complexContent>
      <xs:extension base="studinfo:FsType">
		    <xs:sequence>
		      <xs:element name="kursid" type="studinfo:Kursid"/>
		      <xs:element name="kursnavn" type="xs:string"/>
		      <xs:element name="fagansvarlig" minOccurs="0" type="studinfo:Sted"/>
		      <xs:element name="adminansvarlig" minOccurs="0" type="studinfo:Sted"/>
		      <xs:element name="dato-fra" minOccurs="0" type="xs:date"/>
		      <xs:element name="dato-til" minOccurs="0" type="xs:date"/>
		      <xs:element name="dato-opptak-fra" minOccurs="0" type="xs:date"/>
		      <xs:element name="dato-opptak-til" minOccurs="0" type="xs:date"/>
		      <xs:element name="dato-frist-soknad" minOccurs="0" type="xs:date"/>
		      <xs:element name="url" minOccurs="0" type="xs:anyURI"/>
		      <xs:element name="varighettimer" minOccurs="0" type="xs:integer"/>
		      <xs:element name="email" minOccurs="0" type="xs:string"/>
		      <xs:element name="fjernundervisning" type="studinfo:YESNOType"/>
		      <xs:element name="desentral-undervisning" type="studinfo:YESNOType"/>
		      <xs:element name="nettbasert-undervisning" type="studinfo:YESNOType"/>
		      <xs:element name="kan-tilbys" type="studinfo:YESNOType"/>
		      <xs:element name="skal-avholdes" type="studinfo:YESNOType"/>
		      <xs:element name="kostnadkommentar" minOccurs="0" type="xs:string"/>
		      <xs:element name="dato-publiseres-fra" type="xs:date"/>
		      <xs:element name="dato-publiseres-til" type="xs:date"/>
		      <xs:element name="kurskategori-liste" minOccurs="0" maxOccurs="unbounded" type="studinfo:Kurskategori"/>
		    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Sted">
    <xs:sequence>
      <xs:element name="institusjonsnr" type="xs:integer"/>
      <xs:element name="fakultetsnr" type="xs:integer"/>
      <xs:element name="instituttnr" type="xs:integer"/>
      <xs:element name="gruppenr" type="xs:integer"/>
      <xs:element name="navn" type="xs:string"/>
      <xs:element name="avdnavn" type="xs:string"/>
      <xs:element name="url" minOccurs="0" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kursid">
    <xs:sequence>
      <xs:element name="kurskode" type="xs:string"/>
      <xs:element name="tidkode" type="xs:NMTOKEN"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kurskategori">
    <xs:sequence>
      <xs:element name="kurskategorikode" type="xs:string"/>
      <xs:element name="kurskategorinavn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Opptak">
    <xs:sequence>
      <xs:element name="opptakstype" type="xs:string"/>
      <xs:element name="opptakskode" type="xs:string"/>
      <xs:element name="frist_soknad" minOccurs="0" type="xs:date"/>
      <xs:element name="frist_ettersending" minOccurs="0" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Utdanningsplan">
    <xs:sequence>
      <xs:element name="planinformasjon" minOccurs="0" maxOccurs="unbounded"
        type="studinfo:Planinformasjon"/>
      <xs:element name="krav-sammensetting" minOccurs="0" maxOccurs="unbounded"
        type="studinfo:Krav-sammensetting"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Planinformasjon">
    <xs:sequence>
      <xs:element name="dato-gjelder-fra" type="xs:date"/>
      <xs:element name="dato-gjelder-til" minOccurs="0" type="xs:date"/>
      <xs:element name="infotekst" type="xs:string"/>
      <xs:element name="url" minOccurs="0" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Krav-sammensetting">
    <xs:sequence>
      <xs:element name="termin-gjelder-fra" type="xs:string"/>
      <xs:element name="arstall-gjelder-fra" minOccurs="0" type="xs:gYear"/>
      <xs:element name="terminkode-gjelder-fra" minOccurs="0" type="studinfo:FsSemester"/>
      <xs:element name="emnekombinasjon" type="studinfo:Emnekombinasjon"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Emnekombinasjon">
    <xs:sequence>
      <xs:element name="emnekombinasjonskode" type="xs:string"/>
      <xs:element name="emnekombinasjonsnavn" type="xs:string"/>
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0"/>
      <xs:element name="studieretning" type="xs:string" minOccurs="0"/>
      <xs:element name="studiepoeng-krav" type="xs:integer" minOccurs="0"/>
      <xs:element name="terminnr-relativ-start" type="xs:integer"/>
      <xs:element name="termin-start-fra" type="studinfo:FsYearSemester" minOccurs="0"/>
      <xs:element name="termin-start-til" type="studinfo:FsYearSemester" minOccurs="0"/>
      <xs:element name="fargekode" type="xs:string" minOccurs="0"/>
      <xs:element name="veivalg" type="studinfo:YESNOType"/>
      <xs:element name="opptak" type="studinfo:YESNOType" minOccurs="0"/>
      <xs:element name="emne" type="studinfo:ProgramEmne" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="planelement" type="studinfo:Planelement" minOccurs="0"/>
      <xs:element name="emnekombinasjon-valg" minOccurs="0" maxOccurs="unbounded" type="studinfo:Emnekombinasjon-valg"/>
      <xs:element name="emnekombinasjon-frievalg" minOccurs="0" maxOccurs="unbounded" type="studinfo:Emnekombinasjon-frievalg"/>
      <xs:element name="emnekombinasjon" type="studinfo:Emnekombinasjon" minOccurs="0"
        maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="niva" use="required" type="xs:integer"/>
  </xs:complexType>
  <xs:complexType name="Undervisningstermin">
    <xs:sequence>
      <xs:element name="termin" maxOccurs="unbounded" type="studinfo:Termin"/>
    </xs:sequence>
    <xs:attribute name="start" use="required" type="studinfo:FsSemester"/>
  </xs:complexType>
  <xs:complexType name="Sprak">
    <xs:sequence>
      <xs:element name="sprakkode" type="xs:string"/>
      <xs:element name="undervisning" type="studinfo:YESNOType"/>
      <xs:element name="vurdering" minOccurs="0" type="studinfo:YESNOType"/>
      <xs:element name="eksamen" minOccurs="0" type="studinfo:YESNOType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Termin">
    <xs:sequence>
      <xs:element name="terminnr" type="xs:integer"/>
      <xs:element name="terminnavn" type="xs:string"/>
      <xs:element name="studiepoeng" minOccurs="0" type="xs:integer"/>
      <xs:element name="generer_und" type="studinfo:YESNOType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Planelement">
    <xs:sequence>
      <xs:element name="planelementkode" type="xs:string"/>
      <xs:element name="planelementnavn" type="xs:string"/>
      <xs:element name="planelementnavn-en" minOccurs="0" type="xs:string"/>
      <xs:element name="sorteringsrekkefolge" minOccurs="0" type="xs:integer"/>
      <xs:element name="valgstatus" type="xs:string"/>
      <xs:sequence minOccurs="0">
        <xs:element name="undtermin-fra" type="xs:integer"/>
        <xs:element name="undtermin-til" type="xs:integer"/>
      </xs:sequence>
      <xs:element name="url" minOccurs="0" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Planforslag">
    <xs:sequence>
      <xs:element name="emnekombinasjonsnavn" type="xs:string"/>
      <xs:element name="termin-start" minOccurs="0" type="xs:string"/>
      <xs:element name="emne" maxOccurs="unbounded" type="studinfo:PlanEmne"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Obligoppgave">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="nr" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Semester">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="nr" use="required" type="xs:integer"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Semesterperiode">
    <xs:sequence>
      <xs:element name="forstegang" type="studinfo:FsYearSemester"/>
      <xs:element name="sistegang" minOccurs="0" type="studinfo:FsYearSemester"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType mixed="true" name="Kravalternativ">
    <xs:attribute name="kravnr" use="required" type="xs:integer"/>
  </xs:complexType>
  <xs:complexType name="Personnavn">
    <xs:sequence>
      <xs:element name="etternavn" type="xs:string"/>
      <xs:element name="fornavn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Hjelpemiddel">
    <xs:sequence>
      <xs:element name="hjelpemiddelnavn" type="xs:string"/>
      <xs:element name="hjelpemiddelmerknad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Datoperiode">
    <xs:sequence>
      <xs:element name="fradato" type="studinfo:FsNullableDate" nillable="true"/>
      <xs:element name="tildato" type="studinfo:FsNullableDate" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Redregel">
    <xs:sequence>
      <xs:element name="studiepoeng-reduksjon" type="xs:decimal"/>
      <xs:element name="periode" type="studinfo:Datoperiode"/>
      <xs:element name="emne"  minOccurs="0" maxOccurs="unbounded" type="studinfo:BasisEmne"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Undsemester">
    <xs:sequence>
      <xs:element name="semester" maxOccurs="unbounded" type="studinfo:Semester"/>
      <xs:element name="forstegang" minOccurs="0" type="studinfo:FsYearSemester"/>
      <xs:element name="sistegang" minOccurs="0" type="studinfo:FsYearSemester"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Fagperson-liste">
    <xs:sequence>
      <xs:element name="fagperson" minOccurs="0" maxOccurs="unbounded" type="studinfo:Fagperson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Fagperson">
    <xs:sequence>
      <xs:element name="personid" type="xs:integer"/>
      <xs:element name="fnr" type="xs:string"/>
      <xs:element name="personrolle" type="xs:string"/>
      <xs:element name="personnavn" type="studinfo:Personnavn"/>
      <xs:element name="dato-fra" type="xs:date"/>
      <xs:element name="dato-til" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lovlig-hjelpemiddel">
    <xs:sequence>
      <xs:element name="hjelpemiddel" minOccurs="0" maxOccurs="unbounded"
        type="studinfo:Hjelpemiddel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Obligund">
    <xs:sequence>
      <xs:element name="obligoppgave" maxOccurs="unbounded" type="studinfo:Obligoppgave"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Formelle-forkunnskaper">
    <xs:sequence>
      <xs:element name="kravalternativ" maxOccurs="unbounded" type="studinfo:Kravalternativ"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Inngar-i-studieprogram">
    <xs:sequence>
      <xs:element name="studieprogramkode" maxOccurs="unbounded" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Inngar-i-fag">
    <xs:sequence>
      <xs:element name="fagkode" maxOccurs="unbounded" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eksamensdag">
    <xs:sequence>
      <xs:element name="eksamensdagnr" type="xs:integer"/>
      <xs:element name="varighet-timer" type="xs:integer"/>
      <xs:element name="lovlig-hjelpemiddel" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eksamensdel">
    <xs:sequence>
      <xs:element name="eksamensdelnr" type="xs:integer"/>
      <xs:element name="eksamensdelnavn" type="xs:string"/>
      <xs:element name="varighet" minOccurs="0" type="studinfo:VarighetEmne"/>
      <xs:element name="eksamensform" minOccurs="0" type="xs:string"/>
      <xs:element name="karaktervekt" minOccurs="0" type="xs:string"/>
      <xs:element name="karregel" minOccurs="0" type="xs:string"/>
      <xs:element name="dato-eksamen" type="studinfo:FsEksamensdato" nillable="true"/>
      <xs:element name="eksamensdag" minOccurs="0" type="studinfo:Eksamensdag"/>
      <xs:element name="lovlig-hjelpemiddel" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eksamensordning">
    <xs:sequence>
      <xs:element name="eksamensordningid" type="xs:string"/>
      <xs:element name="eksamensordningnavn" type="xs:string"/>
      <xs:element name="default" type="studinfo:YESNOType"/>
      <xs:element name="meld_studentweb" type="studinfo:YESNOType"/>
      <xs:element name="lovlig-hjelpemiddel" minOccurs="0" type="studinfo:Lovlig-hjelpemiddel"/>
      <xs:element name="karregel" type="xs:string"/>
      <xs:element name="dato-eksamen" minOccurs="0" type="xs:string"/>
      <xs:element name="eksamensdel" maxOccurs="unbounded" type="studinfo:Eksamensdel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdordning">
    <xs:sequence>
      <xs:element name="vurdordningid" type="xs:string"/>
      <xs:element name="vurdordningnavn" type="xs:string"/>
      <xs:element name="default" type="studinfo:YESNOType"/>
      <xs:element name="meld_studentweb" type="studinfo:YESNOType"/>
      <xs:element name="vurdkombinasjon" type="studinfo:Vurdkombinasjon"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vektingsreduksjon">
    <xs:sequence>
      <xs:element name="redregel" maxOccurs="unbounded" type="studinfo:Redregel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdenhet">
    <xs:sequence>
      <xs:element name="tid" minOccurs="0" type="studinfo:FsTerminkodeYearMonth"/>
      <xs:element name="tid-reell" minOccurs="0" type="studinfo:FsTerminkodeYearMonth"/>
      <xs:element name="vurdstatus" minOccurs="0" type="xs:string"/>
      <xs:element name="dato-eksamen" minOccurs="0" type="studinfo:FsDate"/>
      <xs:element name="klokkeslett-eksamen-fremmotetid" minOccurs="0" type="studinfo:FsTime"/>
      <xs:element name="dato-uttak" minOccurs="0" type="studinfo:FsDate"/>
      <xs:element name="klokkeslett-uttak" minOccurs="0" type="studinfo:FsTime"/>
      <xs:element name="dato-innlevering" minOccurs="0" type="studinfo:FsDate"/>
      <xs:element name="klokkeslett-innlevering" minOccurs="0" type="studinfo:FsTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdenheter">
    <xs:sequence>
      <xs:element name="vurdenhet" minOccurs="0" maxOccurs="unbounded" nillable="true"
        type="studinfo:Vurdenhet"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdkombtider">
    <xs:sequence>
      <xs:element name="vurdkombtid" maxOccurs="unbounded" type="studinfo:Vurdkombtid"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdkombtid">
    <xs:sequence>
      <xs:element name="vurdtidkode" type="xs:string"/>
      <xs:element name="vurdtidkode_reell" type="xs:string"/>
      <xs:element name="arsinkrement" type="xs:integer"/>
      <xs:element name="vurdstatuskode" type="xs:string"/>
      <xs:element name="liketallsaar" type="studinfo:YESNOType"/>
      <xs:element name="oddetallsaar" type="studinfo:YESNOType"/>
      <xs:element name="forstegang" minOccurs="0" type="studinfo:FsYearSemester"/>
      <xs:element name="sistegang" minOccurs="0" type="studinfo:FsYearSemester"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdkomb">
    <xs:sequence>
      <xs:element name="vurdkombkode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdkombforutsetter">
    <xs:sequence>
      <xs:element name="vurdkomb" minOccurs="0" type="studinfo:Vurdkomb"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vurdkombinasjon">
    <xs:sequence>
      <xs:element name="vurdkombkode" type="xs:string"/>
      <xs:element name="vurdkombnavn" type="xs:string"/>
      <xs:element name="vurdform" minOccurs="0" type="xs:string"/>
      <xs:element name="vurdkombtype" minOccurs="0" type="xs:string"/>
      <xs:element name="forstegang" minOccurs="0" type="studinfo:FsYearSemester"/>
      <xs:element name="sistegang" minOccurs="0" type="studinfo:FsYearSemester"/>
      <xs:element name="brok" minOccurs="0" type="xs:string"/>
      <xs:element name="varighet" minOccurs="0" type="studinfo:VarighetEmne"/>
      <xs:element name="karregelkode" minOccurs="0" type="xs:integer"/>
      <xs:element name="karregel" minOccurs="0" type="xs:string"/>
      <xs:element name="vurdkombforutsetter" minOccurs="0" type="studinfo:Vurdkombforutsetter"/>
      <xs:element name="vurdkombtider" minOccurs="0" type="studinfo:Vurdkombtider"/>
      <xs:element name="lovlig-hjelpemiddel" minOccurs="0" type="studinfo:Lovlig-hjelpemiddel"/>
      <xs:element name="tid" minOccurs="0" type="studinfo:FsTerminkodeYearMonth"/>
      <xs:element name="tid-reell" minOccurs="0" type="studinfo:FsTerminkodeYearMonth"/>
      <xs:element name="vurdstatus" minOccurs="0" type="xs:string"/>
      <xs:element name="dato-uttak" minOccurs="0" type="studinfo:FsNullableDate"/>
      <xs:element name="klokkeslett-uttak" minOccurs="0" type="studinfo:FsTime"/>
      <xs:element name="dato-innlevering" minOccurs="0" type="studinfo:FsNullableDate"/>
      <xs:element name="klokkeslett-innlevering" minOccurs="0" type="studinfo:FsNullableDate"/>
      <xs:element name="dato-eksamen" minOccurs="0" type="studinfo:FsNullableDate"/>
      <xs:element name="klokkeslett-eksamen-fremmotetid" minOccurs="0" type="studinfo:FsTime"/>
      <xs:element name="vurdenheter" minOccurs="0" type="studinfo:Vurdenheter"/>
      <xs:element name="vurdkombinasjon" minOccurs="0" maxOccurs="unbounded" type="studinfo:Vurdkombinasjon"/>
    </xs:sequence>
    <xs:attribute name="niva" use="required" type="xs:integer"/>
  </xs:complexType>
  <xs:simpleType name="FsTerminkodeYearMonth">
    <xs:annotation>
      <xs:documentation>Format: YYYYMMXX where XX is an optional code
        codes: EO - ekstra ordinær, K - kont, KN - Kont ny
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{6}[A-Z]{0,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FsYearSemester">
    <xs:annotation>
      <xs:documentation>Format: YYYY where X either H(øst) or V(år)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{4}(H|V))?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FsDate">
    <xs:annotation>
      <xs:documentation>This should be xs:date with proper separators, and "Frist innlevering: should be put in a separate element</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}\.\d{2}\.\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FsTime">
    <xs:annotation>
      <xs:documentation>This should be formatted as proper xs:time</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{2}:\d{2})?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FsEksamensdato">
    <xs:annotation>
      <xs:documentation>This should be a complex type that contains date and time for the test and / or submission date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="((Uttak\: \d{2}\.\d{2}\.\d{4} )?(Frist innlevering\: )?(\d{2}\.\d{2}\.\d{4})( kl\. \d{2}\:\d{2})?)?"
      />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FsNullableDate">
    <xs:annotation>
      <xs:documentation>Allows empty date, see http://objectmix.com/xml-soap/86477-optional-date-element-xsd-little-help-please.html</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="FsSemester">
    <xs:restriction base="xs:string">
      <xs:pattern value="(HØST|VÅR)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VarighetProgram">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+ (År|Year(s)?|Semester(s)?|Semestre)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VarighetEmne">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+(\.\d+)? (Semester(s)?|Semestre|Måned(er)?|Måneder|Month(s)?|Uke(r)?|Veke(r)?|Week(s)?|Dag(er)?|Day(s)?|Time(r)?|Hour(s)?|Minutt(er)?|Minute(s)?)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SprakListe">
    <xs:sequence>
      <xs:element name="sprak" minOccurs="0" maxOccurs="unbounded" type="studinfo:Sprak"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Emnekombinasjon-valg">
    <xs:sequence>
      <xs:element name="studieprogramkode" type="xs:string"/>
      <xs:element name="arstall-kull" type="xs:integer"/>
      <xs:element name="terminkode-kull" type="studinfo:FsSemester"/>
      <xs:element name="dato-start" minOccurs="0" type="xs:date"/>
      <xs:element name="dato-frist" minOccurs="0" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Emnekombinasjon-frievalg">
    <xs:sequence>
      <xs:element name="lopenr" type="xs:integer"/>
      <xs:element name="institusjonsnr" type="xs:integer"/>
      <xs:element name="fakultetsnr" type="xs:integer"/>
      <xs:element name="instituttnr" minOccurs="0" type="xs:integer"/>
      <xs:element name="gruppenr" minOccurs="0" type="xs:integer"/>
      <xs:element name="studienivakode-fra" type="xs:integer"/>
      <xs:element name="studienivakode-til" type="xs:string"/>
      <xs:element name="studierettkrav" minOccurs="0" type="studinfo:YESNOType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
